<%= render "shared/header"%>

<div class="question-page">
  <div class="question-form" id="question-form">
    <h1>質問はなんでしょうか？</h1>
    <%= search_form_for @p_c,as: :p, remote: true,id: "search-form",class:"search-form" ,url: questions_search_path do |f| %>
      <div class="persona-select"><%= f.label :title, 'ペルソナ' %></div>
      <p>質問したい相手の属性を検索してみましょう "得意" "子供" "英語" etc...</p>
      <div class="create-persona">
        <div class="persona-select"><%= f.search_field :title_cont, class:"persona-field"%></div>
        <div class="select-characteristic" id="select-characteristic"></div>
      </div>
    <% end %>
        
      
    <div class="search-results" id="search-results">
      <% if @results %>
        <% @results.each do |result|%>
          <%= result.title%>
        <%end%>
      <%end%>
    </div>



    
    <%= form_with model: @question,local: true do |f| %>
      <ul>
        <p class="form-title genre">ジャンル</p>
        <li class="form-list"><%=f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class: "genre-select"})%></li>
        <p class="form-title">タイトル</p>
        <li class="form-list"><%=f.text_field :title, placeholder: '質問のタイトルを入力してください',class:"question-title" %></li>
        <p class="form-title">内容</p>
        <li class="form-list"><%=f.text_area :content, placeholder: '質問の内容を入力してください',class:"content"%></li>
        <p class="form-title">添付</p>
        <li class="form-list"><%=f.file_field :image,class:"image-field"%></li>
        <li class="form-list" id="hidden-parameter"></li>
        <div class="submit" id="submit">
          <%=f.submit '送信',class:"submit-button",id:"question-submit"%>
        </div>
      </ul>
    <%end%>
    
  </div>
</div>