<%= render "shared/header"%>

<div class="mypage">
 
    <div class="mypage-name">
      <h3><%= "#{@user.nickname}" %></h3>
      <%= link_to 'ログアウト',destroy_user_session_path,method: :delete, class:"logout" %>
    </div>

    <div class="mypage-menu">
      <ul class="mypage-menu-list">
        <li class="list-element"><%= link_to '質問一覧', questions_path%></li>
        <li class="list-element"><%= link_to '回答依頼一覧', user_answers_path(:user_id)%></li>
        <li class="list-element"><%= link_to '属性一覧', characteristics_path ,method: :get%></li>
        <li class="list-element"><%= link_to 'いいねした投稿', users_favorites_path ,method: :get%></li>
      </ul>
    </div>
  
  
</div>