<header class="top-page-header">
  <div class="header-box">
    <div class="header-left">
    <%= link_to image_tag("persomme-logo.png", class:"persomme-icon"), "/"%>
    <div class="answer_page">
      <% if user_signed_in? %>
      <%= link_to '回答依頼',user_answers_path(current_user.id), class:"answer-request-button"%>
      <% else %>
      <%= link_to '回答依頼',new_user_session_path,class:"answer-request-button"%>
      <%end%>
      
    </div>
    <form class="search-form" aciton="#">
      <input class='input-box' placeholder='Persomme内を検索'>
      <button class="search-button">
        <%= image_tag "search-button.png", class:"search-question-button" %>
      </button>
    </form>
    </div>

    <div class="header-right">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, user_path(current_user.id), method: :get, class: "user-nickname" %> </li> 
          <li><%= link_to '質問する', new_question_path, class: "new-question" %></li> 

        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>

        <% end %>
      </ul>
    </div>
  </div>

  




</header>