<%= render "shared/header"%>

<div class="answer-show-page">
  <h1>回答依頼の詳細</h1>


  <div class="answer-show-card">
    <span><%= @answer_request.question.user.nickname%></span>
    <p><%= @answer_request.question.genre.name%></p>
    <div class="answer-show-title"><%= @answer_request.question.title%></div>
    <div class="answer-show-content"><%= @answer_request.question.content%></div>
    <div class="answer-show-image"><%= image_tag @answer_request.question.image.variant(
        resize_to_fill: [480, 320]
        ) if @answer_request.question.image.attached? %>
    </div>
    <div class="answer-form">
    <%= form_with model: [@user,@answer],local: true do |f|%>
      <div class="answer-content-field"><%= f.text_area :content, placeholder: '回答を入力してください'%></div>
      <div class="answer-image-field"><%= f.file_field :image%></div>
      <div><%= f.hidden_field :question_id, value: @question.id %></div>
      <div class="answer-submit-btn"><%= f.submit '回答を送信'%></div>
    <%end%>
    </div>

  </div>
</div>

