<%= render "shared/header"%>

<div class="main">
  
  <div class="genre-search">
    <%= link_to '経済',posts_path(id: 2), local: true%>
    <%= link_to '政治',posts_path(id: 3), local: true%>
    <%= link_to '健康',posts_path(id: 4), local: true%>
    <%= link_to 'スポーツ',posts_path(id: 5), local: true%>
    <%= link_to '国際',posts_path(id: 6), local: true%>
    <%= link_to 'IT',posts_path(id: 7),local: true%>
    <%= link_to 'ビジネス',posts_path(id: 8), local: true%>
    <%= link_to '芸術',posts_path(id: 9), local: true%>
    <%= link_to 'グルメ',posts_path(id: 10), local: true%>
    <%= link_to '心理',posts_path(id: 11), local: true%>
    <%= link_to '生活',posts_path(id: 12), local: true%>
    <%= link_to '恋愛',posts_path(id: 13), local: true%>
    <%= link_to 'お金',posts_path(id: 14), local: true%>
    <%= link_to '人間関係',posts_path(id: 15), local:true%>
    <%= link_to 'ファッション',posts_path(id: 16), local:true%>
    <%= link_to '学問',posts_path(id: 17), local: true%>
    <%= link_to 'ノージャンル',posts_path(id: 18), local:true%>
  </div>
  
  <%if user_signed_in?%>
  <div class="characteristic_question">
    <% if @characteristic == nil %>
      <p> 未回答のアンケートはありません </p>
    <%else%>  
      <p >あなたのことを教えてください</p>
      <div class="characteristic-name">
        <%= @characteristic.name %>
        <%= link_to 'YES', users_enchant_path(@characteristic, answer: "y"), method: :post, local: true %>
        <%= link_to 'NO', users_enchant_path(@characteristic,answer: "n"), method: :post, local: true %>
      </div>
    <%end%>
  </div>
  <%end%>
  
  
  <div class="post-field">
    <% if @posts == [] %>
      <p class="nothing-posts">投稿はありません</p>
      <%= link_to '全てのジャンルの質問を見る', '/', class:"all-genre"%>
    <%else%>
      <% @posts.each do |post| %>
      <div class="post-card">

        <div><p><%= post.question.genre.name%></p></div>
        <div><%= link_to post.question.title, post_path(id: post.id, question_id: post.question.id), class:"post-title"%></div>
        <div class="post-image">
        <% if post.question.image.attached? %>
          <%= image_tag post.question.image.variant(resize_to_fill: [480, 320]) %>
        <% else %>
          <%= image_tag "dummy.png"%>
        <%end%>
        </div>
        <div id="favorite-button-<%= post.id %>">
          <%= render partial:'favorites/favorite', locals: {post: post} %>
        </div>
        <% get_characteristic(post)%>
          <% @selected_ids.each do |selected_id|%>
            <span class="selected-title">
              <%= "##{selected_id.title}"%>
            </span>
          <%end%>

      </div>
      <%end%>
    <%end%>
  </div>
  <div class="books">
  <p class="books-header">読書をよくする あなたにおすすめ</p>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=persomme-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=4761274565&linkId=dd010f9f4883fb263229b400ddc218fc"></iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=persomme-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=4492044698&linkId=cd6657ff9de63c1ff4673b608c41a627"></iframe>
  
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=persomme-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=4479304800&linkId=8d6d3087679321f6f7b66f2d1fb86841"></iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=persomme-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B079Y3Y7NG&linkId=e0a481b1bc69ca4812cf9897fbf49558"></iframe>
  </div>

  <div class="books-2">
  <p class="books-header">筋トレを頻繁にする あなたにおすすめ</p>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=persomme-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B07NQ47HWV&linkId=95accaf7ed4e6feadc6cad53dc918661"></iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=persomme-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B07NCSFPXY&linkId=91ff912405406b7e14a584f4687110e1"></iframe>
  
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=persomme-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B07BXYR748&linkId=a4fe13c27004d204539b427e10e8eadf"></iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=persomme-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B073CD4KYY&linkId=77fb023a0456214e8128774ed2d09bc1"></iframe>
  </div>

  
</div>