<%= render "shared/header"%>

<div><%= @question.genre.name%></div>
<div><%= @question.title%></div>
<div><%= @question.content%></div>
<div><%= image_tag @question.image.variant(
    resize_to_fill: [640, 640]
    ) if @question.image.attached? %>
</div>

<h1>回答</h1>
<div><% @question.answers.each do |answer|%></div>
<div><%= answer.user.nickname%></div>
<div><%= answer.content%></div>
<div><%= image_tag answer.image.variant(
    resize_to_fill: [640, 640]
    ) if answer.image.attached? %>
</div>
<%end%>

<div>
    <%= form_with model: [@post,@comment], method: :post, local: true do |f| %>
    <%= f.text_area :content, placeholder:"コメントを入力してください" %>
    <%= f.submit '送信'%>
    <%end%>
</div>

<div>
    <% @comments.each do |comment|%>
    <div><%= comment.content%></div>
    <div><%= comment.user.nickname%></div>
    <%end%>
</div>
